<div class="card">
  <most-data #periodAnalytics model="students/me/classes"
             filter="finalGrade ne null"
             [top]="5"
             order="registration/registrationYear desc, registration/registrationPeriod desc"
             select="registration/registrationYear as registrationYear,registration/registrationPeriod as registrationPeriod,avg(finalGrade) as average"
             group="registration/registrationYear,registration/registrationPeriod" ></most-data>
  <div class="card-header">
    <span [translate]="'AveragePerPeriod'"></span>
      <div class="card-header-actions">
      <span>
        <small class="text-muted" [translate]="'AveragePerPeriodInfo'"></small>
      </span>
      </div>
  </div>
  <div class="card-body">
    <table class="table table-responsive-sm" *ngIf="periodAnalytics.value">
      <thead>
      <tr>
        <th [translate]="'AcademicPeriod'"></th>
        <th class="text-right" [translate]="'Average'"></th>
      </tr>
      </thead>
      <tbody *ngIf="periodAnalytics">
          <tr *ngFor="let period of periodAnalytics.value.value">
            <td>{{period.registrationYear}} {{period.registrationPeriod.name}}</td>
            <td class="text-right">
              <span class="badge font-2xl badge-primary">{{period.average*10 | number: '1.2-2' }}</span>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
