<div class="card" *ngIf="!loading">
  <div class="card-header">
    <span [translate]="'Results'"></span>
    <div class="card-header-actions">
      <span>
        <small class="text-muted" [translate]="'CoursesResults'"></small>
      </span>
    </div>
  </div>
  <div class="card-body">
    <div style="display: block" >
      <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>