<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-4">
            <app-course-analytics></app-course-analytics>
        </div>
        <div class="col-lg-4">
            <app-course-passed-analytics></app-course-passed-analytics>
        </div>
        <div class="col-lg-4">
            <app-average-per-period></app-average-per-period>
        </div>
    </div>
</div>
