// Here you can add other styles
.table {
  thead {
    th {
      border-bottom:  1px;
    }
  }
  th {
    border-top:  0px;
  }
}

.title {
  color: theme-color('dark');
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: $title-font-size;
  font-weight: 600;
  letter-spacing: -0.02px;
  line-height: $title-line-height;
}

.btn-requests {
  padding-left: 10px;
  padding-right: 10px;
  min-width: 180px;
  border-radius: 0.3em 0.3em 0.3em 0.3em !important;
}

.btn-requests-grey {
  border-color:  #F0F3F5;
  background-color: #F0F3F5;
}

.fa-chevron-down {
  color : #869FAC;
}

.fa-chevron-up {
  color : #869FAC;
}

.fa-flag-checkered {
  color : #C2CFD6;
}

.fa-user-secret {
  color : #C2CFD6;
}
